/daimoku/node_modules
/public_html/daimoku/hot
/public_html/daimoku/storage
/daimoku/storage/*.key
/daimoku/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
